body {
  background-color: black;
}
h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

.poster {
  width: 50%;  /* sets the element’s width to 50% of its parent container*/
  margin-left: 25%; /* adds a left margin equal to 25% of the parent’s width */
  margin-top: 100px;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

.motivation-img {
  border: 5px solid white;
  width: 100%;
}
